.mainWrapper {
  margin-left: 40px;
  margin-right: 40px;

  &__link {
    text-decoration: none;
  }
}

.wrapper {
  padding-left: 0px;
  list-style: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  gap: 10px;
  justify-items: center;
  justify-content: center;
  @media (max-width: 400px) {
    grid-template-columns: auto;
  }
  @media (min-width: 768px) {
    grid-template-columns: auto auto auto;
  }
  @media (min-width: 1200px) {
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
  }
  &__listChar {
    border: black 2px solid;
    max-width: 250px;

    &--wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 10px;
    }
    &--imageChar {
      width: 150px;
      height: 150px;
    }
    &--styleContent {
      margin-left: 10px;
      font-size: 15px;
    }

    &--textName {
      max-width: 112px;
      padding: 5px 0;
    }
  }
}
